In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
#from matplotlib import style
#style.use('fivethirtyeight')
import seaborn as sns
#sns.set(style = 'white', color_code=True)
# import warnings
# warnings.filterwarnings('ignore')
# sns.set_style('whitegrid')

from sklearn.ensemble import GradientBoostingClassifier  #GBM algorithm
from sklearn import cross_validation, metrics   #Additional scklearn functions
from sklearn.grid_search import GridSearchCV   #Performing grid search
# from sklearn.model_selection import GridSearchCV
import matplotlib.pylab as plt
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 4

In [2]:
df = pd.read_csv('train_modified.csv')
dtest = pd.read_csv('test_modified.csv')

In [3]:
df.head()

,Credit_History,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Total_Income,EMI,Dependents_0,Dependents_1,Dependents_2,...,Education_1,Gender_0,Gender_1,Married_0,Married_1,Property_Area_0,Property_Area_1,Property_Area_2,Self_Employed_0,Self_Employed_1
0,1.0,142.51153,360.0,LP001002,Y,5849.0,0.395865,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
1,1.0,128.00000,360.0,LP001003,N,6091.0,0.355556,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
2,1.0,66.00000,360.0,LP001005,Y,3000.0,0.183333,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
3,1.0,120.00000,360.0,LP001006,Y,4941.0,0.333333,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,141.00000,360.0,LP001008,Y,6000.0,0.391667,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0

In [4]:
X_test = dtest.drop('Loan_ID',axis=1)
X_test.head()

,Credit_History,LoanAmount,Loan_Amount_Term,Total_Income,EMI,Dependents_0,Dependents_1,Dependents_2,Dependents_3,Education_0,Education_1,Gender_0,Gender_1,Married_0,Married_1,Property_Area_0,Property_Area_1,Property_Area_2,Self_Employed_0,Self_Employed_1
0,1.0,110.0,360.0,5720.0,0.305556,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
1,1.0,126.0,360.0,4576.0,0.350000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,1.0,208.0,360.0,6800.0,0.577778,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
3,1.0,100.0,360.0,4886.0,0.277778,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,78.0,360.0,3276.0,0.216667,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0

In [5]:
target = 'Loan_Status'
IDcol = 'Loan_ID'

In [6]:
clf_final = GradientBoostingClassifier(learning_rate =0.001,random_state=10,subsample=0.7,n_estimators=2000,max_features='sqrt',
                                 max_depth=5,min_samples_leaf=13,min_samples_split=50)
predictors = [x for x in df.columns if x not in [target, IDcol]]

# modelfit(clf, df, predictors)
clf_final.fit(df[predictors], df['Loan_Status'])
dtrain_predictions = clf_final.predict(X_test)

In [7]:
submission = pd.DataFrame({
        'Loan_ID':dtest['Loan_ID'],
        'Loan_Status':dtrain_predictions
    })
submission.to_csv('Loan_Prediction.csv',index=False)

In [10]:
from sklearn.linear_model import LogisticRegression
predictors = [x for x in df.columns if x not in [target, IDcol]]
logReg = LogisticRegression()
logReg.fit(df[predictors],df['Loan_Status'])
dtrain_predictions = logReg.predict(X_test)
logReg.score(df[predictors],df['Loan_Status'])

0.80781758957654726

In [11]:
submission = pd.DataFrame({
        'Loan_ID':dtest['Loan_ID'],
        'Loan_Status':dtrain_predictions
    })
submission.to_csv('Loan_Prediction.csv',index=False)